# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@main

      - name: Set up JDK 21
        uses: actions/setup-java@main
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'
          
      - name: Setup Gradle
        uses: gradle/gradle-build-action@main

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build --scan

      - name: Upload build reports
        uses: actions/upload-artifact@main
        if: success() || failure()
        with:
           name: build-reports
           path: build/reports/
